@import "src/assets/styles/variables.scss";

.app-wrapper {
    display: flex;
    flex-direction: column;
    height: 100vh;
    width: 100%;

    .home {
        flex-grow: 1;
    }

    .footer {
        flex-grow: 0;
    }

    @media only screen and (max-width: 768px) {
        display: flex;
        flex-direction: column;
        width: 100%;
        height: 86vh;

        .footer {
            flex-grow: 0;
            height: 5%;
        }

        .mobile-hide {
            display: none;
        }
    }

    @media only screen and (max-width: 390px) {
        // Darby's Chrome
        height: 83vh;
    }
}